<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context  
	  http://www.springframework.org/schema/context/spring-context.xsd
	  http://www.springframework.org/schema/mvc  
	  http://www.springframework.org/schema/mvc/spring-mvc.xsd
	">

    <context:property-placeholder location="classpath*:props/*.properties"
                                  ignore-resource-not-found="true" />
    <import resource="classpath*:applicationContext-manage.xml" />
	<context:component-scan base-package="com.tcl.aota.admin" />
	<mvc:annotation-driven />

    <bean id="amazons3Op" class="com.tcl.aota.common.utils.AmazonS3Op">
        <constructor-arg name="accessKey" value="${s3.access.key}"/>
        <constructor-arg name="secretKey" value="${s3.secret.key}"/>
        <constructor-arg name="bucketName" value="${s3.bucket.name}"/>
    </bean>

    <bean id="springApplicationContextHolder" class="com.tcl.aota.admin.util.SpringApplicationContextHolder"></bean>
	
</beans>